.app {
    overflow-x: hidden;
    background: url('img/got.jpeg') center center no-repeat;
    background-size: cover;
    font-size: 16px;
    height: 100vh;
}
.app .app__homepage {
    margin-top: 100px;
}
.toggle__button {
    width: 200px;
    height: 50px;
    margin-bottom: 20px;
    background-color: #777c98;
    transition: .2s all;
}
.toggle__button:hover {
    background-color: #363a52;
    color: #fff;
}